Repository Badsworth/pfml_scripts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @EOLWD/pfml-infra, @EOLWD/pfml-portal, @EOLWD/pfml-e2e, @EOLWD/pfml-admin-portal, @EOLWD/pfml-acorn-street, @jamesbursa, @oscarAtNava, @chouinar, @shebryant, @doshitan, @kyeah, @aorticweb, @EyuelAbebe, @antxaddis, @mhuneke, @austin-gardner

.github/CODEOWNERS:

# Automatically assign codeowners when changed files match
#
# - Each line is a file pattern followed by one or more owners.
# - Order is important; the last matching pattern takes the most precedence
#
# See: https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners#example-of-a-codeowners-file
# ProTip: https://help.github.com/en/github/setting-up-and-managing-organizations-and-teams/managing-code-review-assignment-for-your-team

# Commented groups for future scope
/.github/ @EOLWD/pfml-infra
#/admin/ @EOLWD/pfml-admin-portal
#/api/ defined below 
/bin/ @EOLWD/pfml-infra
#/docs/ open
/docs/portal/ @EOLWD/pfml-portal
/e2e/ @EOLWD/pfml-e2e
#/feature_flags/ open
/infra/portal/ @EOLWD/pfml-portal @EOLWD/pfml-infra
/infra/admin-portal/ @EOLWD/pfml-infra @EOLWD/pfml-admin-portal
#/infra/bi/ @EOLWD/pfml-infra @EOLWD/pfml-business-intel
#/pdf_api/ @EOLWD/pfml-pdf-api 
#/portal/ @EOLWD/pfml-portal
/portal/src/pages/applications/status.js @EOLWD/pfml-acorn-street
/portal/src/components/ApplicationCard.js @EOLWD/pfml-acorn-street

# These patterns include ** to match both api/massgov/pfml/DIR and api/tests/DIR
/api/                                                  @jamesbursa @oscarAtNava
/api/**/util/                                          @chouinar @jamesbursa
/api/**/api/                                           @jamesbursa @shebryant
/api/**/api/*.py                                       @doshitan @shebryant
/api/**/api/auth*/                                     @doshitan @shebryant
/api/**/api/claims*                                    @kyeah @aorticweb
/api/**/api/services/*applications.py                  @doshitan
/api/**/api/services/*fineos_actions.py                @kyeah @oscarAtNava
/api/**/api/services/*administrator_fineos_actions.py  @kyeah @aorticweb
/api/**/api/eligibility/                               @EyuelAbebe @jamesbursa
/api/**/api/validation/                                @antxaddis @kyeah
/api/**/db/                                            @doshitan @jamesbursa
/api/**/delegated_payments/                            @chouinar @antxaddis
/api/**/dor/                                           @antxaddis @mhuneke
/api/**/fineos/                                        @doshitan @oscarAtNava
/api/**/reductions/                                    @mhuneke @doshitan
/api/**/rmv/                                           @doshitan @austin-gardner
/api/**/servicenow/                                    @kyeah
/api/?ocker*                                           @jamesbursa @kyeah
/api/Makefile                                          @doshitan @jamesbursa
/api/openapi.yaml                                      @oscarAtNava @shebryant

resolved lint related issues
  portal/src/hoc/withClaimDetail.tsx
  portal/src/pages/applications/status/index.tsx
Owners: none

PORTAL-1489:resolve feature flags in storybook after stringify (#6787)
  portal/storybook/stories/feature-flag-settings.stories.tsx
Owners: none

Update docs to 2dd75ea71e128c22b9f455fd8d1d48ee480312b4
  releases/api/index.html
  releases/portal/index.html
  search/search_index.json
  sitemap.xml.gz
Owners: none

API-2007: Update container to use python:3.9.7-slim-bullseye (#6740)
  api/Dockerfile
Owners: @jamesbursa, @kyeah

Update docs to 6869cdba7a88a09ff608c11616aeb59054294a47
  releases/api/index.html
  releases/portal/index.html
  search/search_index.json
  sitemap.xml.gz
Owners: none

PFMLPB-1711: Fix merge
  api/massgov/pfml/api/app.py
  api/massgov/pfml/api/authentication/msalConfig.py
  api/massgov/pfml/db/migrations/versions/2021_10_22_15_48_02_4f2601f5848b_admin_portal_sso_authorization.py
  api/massgov/pfml/db/models/employees.py
  api/tests/conftest.py
Owners: @doshitan, @shebryant, @jamesbursa, @oscarAtNava

updated test coverage
  portal/tests/hoc/withClaimDetail.test.js
  portal/tests/pages/applications/status/index.test.js
Owners: none

updated test coverage
  portal/tests/pages/applications/status/index.test.js
Owners: none

PAY-163: Adding tax cumulative report to create pub files task. (#6769)
  api/massgov/pfml/delegated_payments/reporting/delegated_payment_sql_reports.py
  api/massgov/pfml/delegated_payments/reporting/sql/tax-withholding-cumulative-report.sql
Owners: @chouinar, @antxaddis

Update docs to fea6248816e2237500086bf8a42a9aa22b745fd2
  releases/api/index.html
  releases/portal/index.html
  search/search_index.json
  sitemap.xml.gz
Owners: none
