Repository Badsworth/pfml_scripts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @EOLWD/pfml-portal, @EOLWD/pfml-e2e, @EOLWD/pfml-infra, @EOLWD/pfml-acorn-street, @jamesbursa, @oscarAtNava, @chouinar, @shebryant, @doshitan, @kyeah, @aorticweb, @EyuelAbebe, @antxaddis, @mhuneke, @austin-gardner

.github/CODEOWNERS:

# Automatically assign codeowners when changed files match
#
# - Each line is a file pattern followed by one or more owners.
# - Order is important; the last matching pattern takes the most precedence
#
# See: https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners#example-of-a-codeowners-file
# ProTip: https://help.github.com/en/github/setting-up-and-managing-organizations-and-teams/managing-code-review-assignment-for-your-team

/portal/ @EOLWD/pfml-portal
/docs/portal/ @EOLWD/pfml-portal
/infra/portal/ @EOLWD/pfml-portal
/e2e/ @EOLWD/pfml-e2e
/.github/ @EOLWD/pfml-infra

/portal/src/pages/applications/status.js @EOLWD/pfml-acorn-street
/portal/src/components/ApplicationCard.js @EOLWD/pfml-acorn-street

# These patterns include ** to match both api/massgov/pfml/DIR and api/tests/DIR
/api/                                                  @jamesbursa @oscarAtNava
/api/**/util/                                          @chouinar @jamesbursa
/api/**/api/                                           @jamesbursa @shebryant
/api/**/api/*.py                                       @doshitan @shebryant
/api/**/api/auth*/                                     @doshitan @shebryant
/api/**/api/claims*                                    @kyeah @aorticweb
/api/**/api/services/*applications.py                  @doshitan
/api/**/api/services/*fineos_actions.py                @kyeah @oscarAtNava
/api/**/api/services/*administrator_fineos_actions.py  @kyeah @aorticweb
/api/**/api/eligibility/                               @EyuelAbebe @jamesbursa
/api/**/api/validation/                                @antxaddis @kyeah
/api/**/db/                                            @doshitan @jamesbursa
/api/**/delegated_payments/                            @chouinar @antxaddis
/api/**/dor/                                           @antxaddis @mhuneke
/api/**/fineos/                                        @doshitan @oscarAtNava
/api/**/reductions/                                    @mhuneke @doshitan
/api/**/rmv/                                           @doshitan @austin-gardner
/api/**/servicenow/                                    @kyeah
/api/?ocker*                                           @jamesbursa @kyeah
/api/Makefile                                          @doshitan @jamesbursa
/api/openapi.yaml                                      @oscarAtNava @shebryant

API-2122: fix dua demographic request file format (#6248)
  api/massgov/pfml/dua/dua_generate_employee_request_file.py
  api/tests/dua/test_dua_send_employee_request_file.py
Owners: @jamesbursa, @oscarAtNava

Update docs to aa4e3cf0c2d12d732bf504533e5c6b0283095c05
  releases/api/index.html
  releases/portal/index.html
  search/search_index.json
  sitemap.xml.gz
Owners: none

PORTAL-965: Add `mfa_phone_number` to db User model (#6234)
  api/massgov/pfml/db/migrations/versions/2021_11_21_23_07_21_1cbd73b4c734_add_mfa_phone_number_column_to_user.py
  api/massgov/pfml/db/models/employees.py
  docs/assets/api/erds/applications.png
  docs/assets/api/erds/employees.png
Owners: @doshitan, @jamesbursa

Update docs to 077e454503f9e58dc30d0fd294818e7fc9dc5b1f
  assets/api/erds/applications.png
  assets/api/erds/employees.png
  releases/api/index.html
  releases/portal/index.html
  search/search_index.json
  sitemap.xml.gz
Owners: none

INFRA-836: rename task definition `pub-payments-process-1099-documents` and fix run-tasks.sh for two containers (#6240)
  bin/run-ecs-task/run-task.sh
  infra/ecs-tasks/template/tasks_1099.tf
Owners: none

Update docs to f53c7152bb89dfa76e512d83f7f0f6b24353defb
  releases/api/index.html
  releases/portal/index.html
  search/search_index.json
  sitemap.xml.gz
Owners: none

PORTAL-1161 Set stage maintenance window on Nov 28 (#6249)
  feature_flags/stage.yaml
Owners: none

Update docs to bc23e733701314daece38484ea98d6715efe9601
  releases/api/index.html
  releases/portal/index.html
  search/search_index.json
  sitemap.xml.gz
Owners: none

INFRA-834 - BI Imports S3/KMS Refactor (#6242)
  infra/ecs-tasks/template/iam.tf
  infra/ecs-tasks/template/s3.tf
Owners: none

Update docs to 45cb3b2159ae197b468a3db54677bd2ebccd7646
  releases/api/index.html
  releases/portal/index.html
  search/search_index.json
  sitemap.xml.gz
Owners: none

PFMLPB-2545: update payment assertions in Cypress tests (#6251)
  e2e/config.json
  e2e/cypress/specs/unstable/fineos_caring_continuous_approval_splitPayments.ts
  e2e/cypress/specs/unstable/portal_medical_continuous_approval+Amend_reductionPayments90k.ts
  e2e/src/config.ts
Owners: @EOLWD/pfml-e2e

Update docs to 078aa5173342520495f69cfa089bc1e27f9e032a
  releases/api/index.html
  releases/portal/index.html
  search/search_index.json
  sitemap.xml.gz
Owners: none

Update docs to 078aa5173342520495f69cfa089bc1e27f9e032a
  sitemap.xml.gz
Owners: none

Update docs to 078aa5173342520495f69cfa089bc1e27f9e032a
  sitemap.xml.gz
Owners: none

PORTAL-1161 Set prod maintenance window on Nov 28 (#6250)
  feature_flags/prod.yaml
Owners: none

Update docs to f3d14d2d11d3de33b50d365a6f1c01e0752510e0
  releases/api/index.html
  releases/portal/index.html
  search/search_index.json
  sitemap.xml.gz
Owners: none

add toml
  api/newrelic.ini
Owners: @jamesbursa, @oscarAtNava

add api folder
  infra/api/environments/long/.terraform.lock.hcl
  infra/api/environments/long/main.tf
  infra/api/environments/long/outputs.tf
  infra/api/environments/long/service_docker_tag.tf
  infra/api/environments/long/variable.tf
  infra/api/environments/long/vpc.tf
Owners: none

PFMLPB-2414: Dashboard morning run (#6221)
  e2e/nerdpack/nerdlets/common/DAO.js
  e2e/nerdpack/nerdlets/common/components/E2EVisualIndicator.js
  e2e/nerdpack/nerdlets/common/components/ListErrors.js
  e2e/nerdpack/nerdlets/common/components/ListErrors.scss
  e2e/nerdpack/nerdlets/common/components/Navigation.js
  e2e/nerdpack/nerdlets/common/components/Navigation.scss
  e2e/nerdpack/nerdlets/common/components/Tags.js
  e2e/nerdpack/nerdlets/common/components/Tags.scss
  e2e/nerdpack/nerdlets/common/services.js
  e2e/nerdpack/nerdlets/e2e-tests/TestGrid.js
  e2e/nerdpack/nerdlets/e2e-tests/styles.scss
  e2e/nerdpack/nerdlets/env-timeline/EnvTimeline.js
  e2e/nerdpack/nerdlets/env-timeline/styles.scss
  e2e/nerdpack/nerdlets/environments/EnvironmentsTable.js
  e2e/nerdpack/nerdlets/environments/styles.scss
  e2e/nerdpack/nerdlets/errorList/index.js
  e2e/nerdpack/nerdlets/errorList/styles.scss
  e2e/nerdpack/nerdlets/morning-run/index.js
  e2e/nerdpack/nerdlets/morning-run/nr1.json
  e2e/nerdpack/nerdlets/morning-run/styles.scss
  e2e/nerdpack/package.json
Owners: @EOLWD/pfml-e2e

Update docs to 97752988b8e59dc845756f872d96d2b81b9eae16
  releases/api/index.html
  releases/portal/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Owners: none

Update spectral (#6253)
  api/Makefile
  api/openapi.yaml
Owners: @doshitan, @jamesbursa, @oscarAtNava, @shebryant

Update docs to baf63680d3f3888fad75d12300796d69e5ec977a
  releases/api/index.html
  releases/portal/index.html
  search/search_index.json
  sitemap.xml.gz
Owners: none

API-2051: Cognito auth keys for ServiceNow (#6187)
  bin/bootstrap-env/copy-parameters.sh
  bin/bootstrap-env/sync-cognito-secrets.sh
  infra/portal/template/cognito.tf
Owners: @EOLWD/pfml-portal

API-2050: add ServiceNow role and add initial restrictions (#6176)
  api/massgov/pfml/api/authorization/rules.py
  api/massgov/pfml/db/models/employees.py
  api/tests/api/test_employees.py
  api/tests/conftest.py
Owners: @doshitan, @shebryant, @jamesbursa, @oscarAtNava

Update docs to 5d8b176ce7911d784689808364c4deb80c9632ac
  releases/api/index.html
  releases/portal/index.html
  search/search_index.json
  sitemap.xml.gz
Owners: none
