Repository Badsworth/pfml_scripts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @EOLWD/pfml-portal, @EOLWD/pfml-e2e, @jamesbursa, @oscarAtNava, @chouinar, @shebryant, @jkpace, @doshitan, @sharonwarner, @jnfang, @EyuelAbebe, @antxaddis, @kyeah, @mhuneke, @paz-focus

.github/CODEOWNERS:

# Automatically assign codeowners when changed files match
#
# - Each line is a file pattern followed by one or more owners.
# - Order is important; the last matching pattern takes the most precedence
#
# See: https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners#example-of-a-codeowners-file
# ProTip: https://help.github.com/en/github/setting-up-and-managing-organizations-and-teams/managing-code-review-assignment-for-your-team

/portal/ @EOLWD/pfml-portal
/docs/portal/ @EOLWD/pfml-portal
/infra/portal/ @EOLWD/pfml-portal
/e2e/ @EOLWD/pfml-e2e

# These patterns include ** to match both api/massgov/pfml/DIR and api/tests/DIR
/api/                                                  @jamesbursa @oscarAtNava
/api/**/util/                                          @chouinar @jamesbursa
/api/**/api/                                           @jamesbursa @shebryant
/api/**/api/*.py                                       @jkpace @shebryant
/api/**/api/auth*/                                     @doshitan @shebryant
/api/**/api/claims*                                    @jkpace @sharonwarner
/api/**/api/services/*applications.py                  @doshitan @jnfang
/api/**/api/services/*fineos_actions.py                @jnfang @oscarAtNava
/api/**/api/services/*administrator_fineos_actions.py  @jkpace @sharonwarner
/api/**/api/eligibility/                               @EyuelAbebe @jamesbursa
/api/**/api/validation/                                @antxaddis @kyeah
/api/**/cognito*/                                      @sharonwarner
/api/**/db/                                            @doshitan @jamesbursa
/api/**/delegated_payments/                            @chouinar @antxaddis
/api/**/dor/                                           @antxaddis @mhuneke
/api/**/fineos/                                        @doshitan @oscarAtNava
/api/**/formstack/                                     @sharonwarner
/api/**/payments/                                      @chouinar @antxaddis
/api/**/reductions/                                    @mhuneke @doshitan
/api/**/rmv/                                           @doshitan @kyeah
/api/**/servicenow/                                    @sharonwarner
/api/**/user_import/                                   @sharonwarner
/api/lambdas/                                          @paz-focus @sharonwarner
/api/?ocker*                                           @jamesbursa @kyeah
/api/Makefile                                          @doshitan @kyeah
/api/openapi.yaml                                      @oscarAtNava @shebryant

Update docs to bf8f435533297cb9c86e4f72331c8644cd0a40e8
  releases/portal.html
  search/search_index.json
  sitemap.xml.gz
Owners: none

Update docs to bf8f435533297cb9c86e4f72331c8644cd0a40e8
  releases/api.html
  search/search_index.json
  sitemap.xml.gz
Owners: none

Update docs to bf8f435533297cb9c86e4f72331c8644cd0a40e8
  sitemap.xml.gz
Owners: none

Cherry-pick hotfix from release/portal/v22.0 (#4612)
  portal/src/components/employers/AmendableEmployerBenefit.js
  portal/tests/components/employers/AmendableEmployerBenefit.test.js
  portal/tests/components/employers/__snapshots__/AmendableEmployerBenefit.test.js.snap
Owners: @EOLWD/pfml-portal

Update docs to 725ffda03eb52fc1d7f323acc180e3840790536d
  releases/api.html
  releases/portal.html
  search/search_index.json
  sitemap.xml.gz
Owners: none

Update docs to 725ffda03eb52fc1d7f323acc180e3840790536d
  sitemap.xml.gz
Owners: none

Update docs to 725ffda03eb52fc1d7f323acc180e3840790536d
  releases/portal.html
  search/search_index.json
  sitemap.xml.gz
Owners: none

Update docs to 725ffda03eb52fc1d7f323acc180e3840790536d
  sitemap.xml.gz
Owners: none

Adding Wait for 60K Test (#4613)
  e2e/cypress/actions/fineos.ts
  e2e/cypress/specs/unstable/bond_intermittent_approval_payment_60K.ts
Owners: @EOLWD/pfml-e2e

Update docs to 9dd7ce0dcc9b3445ec97e92621f58b0db36b6ddb
  releases/api.html
  releases/portal.html
  search/search_index.json
  sitemap.xml.gz
Owners: none

Make the modal functional (open and close)
  admin/package.json
  admin/src/components/Modal.tsx
  admin/src/components/_Modal.scss
  admin/src/pages/index.tsx
Owners: none

add 6/27 window (#4614)
  portal/config/prod.js
  portal/config/stage.js
Owners: @EOLWD/pfml-portal

Update docs to 9dd7ce0dcc9b3445ec97e92621f58b0db36b6ddb
  releases/api.html
  releases/portal.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Owners: none

Update docs to 9dd7ce0dcc9b3445ec97e92621f58b0db36b6ddb
  releases/portal.html
  search/search_index.json
  sitemap.xml.gz
Owners: none

Update docs to 9dd7ce0dcc9b3445ec97e92621f58b0db36b6ddb
  releases/api.html
  search/search_index.json
  sitemap.xml.gz
Owners: none

Update docs to 9dd7ce0dcc9b3445ec97e92621f58b0db36b6ddb
  releases/portal.html
  search/search_index.json
  sitemap.xml.gz
Owners: none

Update docs to 9dd7ce0dcc9b3445ec97e92621f58b0db36b6ddb
  releases/api.html
  search/search_index.json
  sitemap.xml.gz
Owners: none

Update docs to 9dd7ce0dcc9b3445ec97e92621f58b0db36b6ddb
  sitemap.xml.gz
Owners: none

Update docs to 9dd7ce0dcc9b3445ec97e92621f58b0db36b6ddb
  releases/portal.html
  search/search_index.json
  sitemap.xml.gz
Owners: none

Update docs to 9dd7ce0dcc9b3445ec97e92621f58b0db36b6ddb
  sitemap.xml.gz
Owners: none

CP-2339: Route users to Applications page after consenting [Hotfix] (#4616)
  portal/src/flows/claimant.js
Owners: @EOLWD/pfml-portal

CP-2339: Route users to Applications page after consenting (#4615)
  portal/src/flows/claimant.js
Owners: @EOLWD/pfml-portal

Update docs to 7b52cbbef810bf97fd3a8b8915d3663dad2ae9b9
  releases/api.html
  releases/portal.html
  search/search_index.json
  sitemap.xml.gz
Owners: none

Update docs to 7b52cbbef810bf97fd3a8b8915d3663dad2ae9b9
  sitemap.xml.gz
Owners: none

Update docs to 7b52cbbef810bf97fd3a8b8915d3663dad2ae9b9
  releases/portal.html
  search/search_index.json
  sitemap.xml.gz
Owners: none

Update docs to 7b52cbbef810bf97fd3a8b8915d3663dad2ae9b9
  releases/portal.html
  search/search_index.json
  sitemap.xml.gz
Owners: none

Update docs to 7b52cbbef810bf97fd3a8b8915d3663dad2ae9b9
  releases/portal.html
  search/search_index.json
  sitemap.xml.gz
Owners: none

Update docs to 7b52cbbef810bf97fd3a8b8915d3663dad2ae9b9
  sitemap.xml.gz
Owners: none

Update docs to 7b52cbbef810bf97fd3a8b8915d3663dad2ae9b9
  sitemap.xml.gz
Owners: none

Update docs to 7b52cbbef810bf97fd3a8b8915d3663dad2ae9b9
  sitemap.xml.gz
Owners: none

Update docs to 7b52cbbef810bf97fd3a8b8915d3663dad2ae9b9
  releases/portal.html
  search/search_index.json
  sitemap.xml.gz
Owners: none

+ update pydantic base model, to require min length of 1 for any string types also strip trailing white spaces + added test
  api/massgov/pfml/util/pydantic/__init__.py
  api/tests/util/pydantic/test_model.py
Owners: @chouinar, @jamesbursa

use None for empty strings from fineos
  api/massgov/pfml/api/services/administrator_fineos_actions.py
Owners: @jkpace, @sharonwarner

remove values with empty string or provide value None
  api/tests/api/services/test_administrator_fineos_actions.py
  api/tests/api/test_applications.py
  api/tests/api/test_notifications.py
Owners: @jkpace, @sharonwarner, @shebryant

add default value instead of empty string
  api/massgov/pfml/fineos/mock_client.py
Owners: @doshitan, @oscarAtNava

add default value
  api/massgov/pfml/db/models/factories.py
Owners: @doshitan, @jamesbursa

removed trimming of string values
  api/massgov/pfml/util/pydantic/__init__.py
  api/tests/util/pydantic/test_model.py
Owners: @chouinar, @jamesbursa

use None for empty strings
  api/tests/api/services/test_administrator_fineos_actions.py
  api/tests/api/test_claims.py
  api/tests/api/test_documents.py
Owners: @jkpace, @sharonwarner, @shebryant

empty string not allowed
  api/tests/servicenow/test_transforms.py
Owners: @sharonwarner

+ add default values to Street1, Stree2, City and Zip
  api/massgov/pfml/rmv/caller.py
Owners: @doshitan, @kyeah
