Repository Badsworth/pfml_scripts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @EOLWD/pfml-infra, @EOLWD/pfml-e2e, @EOLWD/pfml-portal, @EOLWD/pfml-admin-portal, @EOLWD/pfml-business-intel, @EOLWD/pfml-pdf-api, @EOLWD/pfml-payments

add test for gross_amount field
  api/tests/api/services/test_payments.py
Owners: none

testing scripts
  e2e/src/artillery/ArtilleryDeployer.ts
  e2e/src/commands/deploy-LST.ts
Owners: @EOLWD/pfml-e2e

Add underscores
  api/massgov/pfml/api/validation/validators.py
Owners: none

rename amount to net_amount on PaymentDetailsResponse
  api/massgov/pfml/api/models/payments/responses.py
  api/massgov/pfml/api/services/payments.py
  api/openapi.yaml
  api/tests/api/services/test_payments.py
Owners: none

Address error
  api/massgov/pfml/api/validation/validators.py
Owners: none

PFMLPB-3866: Re-enable TRN2 (#7875)
  .github/workflows/e2e-runs-all.yml
  e2e/config.json
  e2e/nerdpack/nerdlets/common/components/EnvironmentsTable.js
  e2e/nerdpack/nerdlets/common/index.js
  e2e/src/commands/deploy-LST.ts
Owners: @EOLWD/pfml-e2e

Update docs to 989c42c858399b7759c194b7ac28b1b9abbb24bf
  releases/admin-portal/index.html
  releases/api/index.html
  releases/portal/index.html
  search/search_index.json
  sitemap.xml.gz
Owners: none

PFMLPB-3862: Add new E2E dataset pointing to TRN2 (#8037)
  e2e/config.json
Owners: @EOLWD/pfml-e2e

Update docs to 91220e4aecb5089a8b00238c32a2fe3100d16a52
  releases/admin-portal/index.html
  releases/api/index.html
  releases/portal/index.html
  search/search_index.json
  sitemap.xml.gz
Owners: none

Safer accessing of field values
  api/massgov/pfml/api/validation/validators.py
Owners: none

PFMLPB-4201: Dashboard Beta to 2.0 (#8044)
  e2e/nerdpack/launchers/launcher/nr1.json
  e2e/nerdpack/nerdlets/common/DAO.js
  e2e/nerdpack/nerdlets/common/ErrorPriority.js
  e2e/nerdpack/nerdlets/common/MultiQuery.js
  e2e/nerdpack/nerdlets/common/components/E2EVisualIndicator.js
  e2e/nerdpack/nerdlets/common/components/E2EVisualIndicator.scss
  e2e/nerdpack/nerdlets/common/components/EnvironmentsOverviewTable.js
  e2e/nerdpack/nerdlets/common/components/EnvironmentsTable.js
  e2e/nerdpack/nerdlets/common/components/EnvironmentsTable.scss
  e2e/nerdpack/nerdlets/common/components/ListErrors.js
  e2e/nerdpack/nerdlets/common/components/ListErrors.scss
  e2e/nerdpack/nerdlets/common/components/Navigation.js
  e2e/nerdpack/nerdlets/common/index.js
  e2e/nerdpack/nerdlets/common/scss/index.scss
  e2e/nerdpack/nerdlets/common/services.js
  e2e/nerdpack/nerdlets/e2e-tests/TestGrid.js
  e2e/nerdpack/nerdlets/e2e-tests/index.js
  e2e/nerdpack/nerdlets/e2e-tests/nr1.json
  e2e/nerdpack/nerdlets/e2e-tests/styles.scss
  e2e/nerdpack/nerdlets/env-timeline/EnvTimeline.js
  e2e/nerdpack/nerdlets/env-timeline/index.js
  e2e/nerdpack/nerdlets/env-timeline/nr1.json
  e2e/nerdpack/nerdlets/env-timeline/styles.scss
  e2e/nerdpack/nerdlets/environments/index.js
  e2e/nerdpack/nerdlets/environments/nr1.json
  e2e/nerdpack/nerdlets/environments/styles.scss
  e2e/nerdpack/nerdlets/errorList/index.js
  e2e/nerdpack/nerdlets/errorList/nr1.json
  e2e/nerdpack/nerdlets/errorList/styles.scss
  e2e/nerdpack/nerdlets/morning-run/index.js
  e2e/nerdpack/nerdlets/morning-run/nr1.json
  e2e/nerdpack/nerdlets/morning-run/styles.scss
  e2e/nerdpack/nerdlets/panel-deployments/Deployments.js
  e2e/nerdpack/nerdlets/panel-deployments/index.js
  e2e/nerdpack/nerdlets/panel-deployments/nr1.json
  e2e/nerdpack/nerdlets/panel-deployments/styles.scss
  e2e/nerdpack/package-lock.json
  e2e/nerdpack/package.json
Owners: @EOLWD/pfml-e2e

Update docs to 3c756a8ff3890ed43b9892ffd74505a928581f2c
  releases/admin-portal/index.html
  releases/api/index.html
  releases/portal/index.html
  search/search_index.json
  sitemap.xml.gz
Owners: none

first pass
  portal/src/locales/app/en-US.ts
  portal/src/models/ChangeRequest.ts
  portal/src/models/ClaimDetail.ts
  portal/src/pages/applications/modify/review.tsx
Owners: none

API-2049: add new waiting week audit report type
  api/massgov/pfml/db/models/payments.py
Owners: none

fix the portal label for orgunits change
  e2e/cypress/actions/portal.ts
Owners: @EOLWD/pfml-e2e

Have preprocess script remove the wildly incorrect `maximum` prop for PhoneNumber/EmailAddress ids
  api/massgov/pfml/fineos/models/customer_api/spec.py
  api/massgov/pfml/fineos/models/group_client_api/spec.py
  api/massgov/pfml/fineos/models/preprocess-fineos-models-spec.py
Owners: none

FINEOS 21.3.3 changes
  api/massgov/pfml/fineos/models/customer_api/__init__.py
  api/massgov/pfml/fineos/models/customer_api/overrides.py
  api/massgov/pfml/fineos/models/customer_api/spec.json
  api/massgov/pfml/fineos/models/customer_api/spec.py
  api/massgov/pfml/fineos/models/group_client_api/__init__.py
  api/massgov/pfml/fineos/models/group_client_api/spec.json
  api/massgov/pfml/fineos/models/group_client_api/spec.py
Owners: none

Remove/update placeholder change request models
  api/massgov/pfml/fineos/models/customer_api/__init__.py
  api/massgov/pfml/fineos/models/customer_api/overrides.py
Owners: none

Updated OpenAPI specs for FINEOS 21.3
  api/massgov/pfml/fineos/models/customer_api/spec.json
  api/massgov/pfml/fineos/models/group_client_api/spec.json
Owners: none

WIP, expectedReturnToWorkDate is no longer on an individual absence period
  api/tests/api/test_notifications.py
Owners: none

Code/models changes for new specs
  api/massgov/pfml/fineos/mock_client.py
  api/massgov/pfml/fineos/models/customer_api/__init__.py
  api/massgov/pfml/fineos/models/customer_api/spec.py
  api/massgov/pfml/fineos/models/group_client_api/__init__.py
  api/massgov/pfml/fineos/models/group_client_api/spec.py
  api/massgov/pfml/fineos/models/preprocess-fineos-models-spec.py
Owners: none

Fix payment preference import to support both 20.2 and 21.3 models
  api/massgov/pfml/api/services/application_import.py
Owners: none

More (mostly) change request fixes
  api/massgov/pfml/api/services/fineos_actions.py
  api/massgov/pfml/fineos/client.py
  api/massgov/pfml/fineos/example.py
  api/massgov/pfml/fineos/fineos_client.py
  api/massgov/pfml/fineos/mock_client.py
  api/tests/fineos/test_fineos_client.py
Owners: none

PFMLPB: Update TRN2 user account (#8047)
  e2e/config.json
Owners: @EOLWD/pfml-e2e

Update docs to 8e939327e5ba29e74949ff9358f16b26a494c3a3
  releases/admin-portal/index.html
  releases/api/index.html
  releases/portal/index.html
  search/search_index.json
  sitemap.xml.gz
Owners: none

Attempts to generate any kind of document
  pdf_api/.gitignore
  pdf_api/Assets/UserNotFound/Template/UserNotFound.html
  pdf_api/Controllers/PdfController.cs
  pdf_api/Models/AnyDocument.cs
  pdf_api/Models/DocumentClaimantInfo.cs
  pdf_api/Models/DocumentDto.cs
  pdf_api/Services/PdfDocumentService.cs
Owners: @EOLWD/pfml-pdf-api

PFMLPB-4102: Create a PR so all the environments are pointed at this new dataset. (#7985)
  e2e/config.json
Owners: @EOLWD/pfml-e2e

Update docs to 6aafa7019748316a4d3edadd932d0f063548f1b0
  releases/admin-portal/index.html
  releases/api/index.html
  releases/infra/index.html
  releases/portal/index.html
  search/search_index.json
  sitemap.xml.gz
Owners: none

Attempts with abstract classes
  pdf_api/Models/AnyDocument.cs
  pdf_api/Services/PdfDocumentService.cs
Owners: @EOLWD/pfml-pdf-api

Update docs to 6aafa7019748316a4d3edadd932d0f063548f1b0
  sitemap.xml.gz
Owners: none

Update docs to 6aafa7019748316a4d3edadd932d0f063548f1b0
  sitemap.xml.gz
Owners: none

Update docs to 6aafa7019748316a4d3edadd932d0f063548f1b0
  sitemap.xml.gz
Owners: none

remove the force click for stage and cps-preview
  e2e/cypress/specs/morning/api_medical_continuous_approval_employerReimbursmentDenied.ts
  e2e/cypress/specs/morning/api_medical_reduced_approval_employerReimbursmentApproved.ts
Owners: @EOLWD/pfml-e2e

fix stories
  portal/src/locales/app/en-US.ts
  portal/src/models/ChangeRequest.ts
  portal/src/models/ClaimDetail.ts
  portal/src/pages/applications/modify/review.tsx
  portal/storybook/stories/pages/applications/modify/review.stories.tsx
Owners: none

testing abort rerun
  .github/workflows/e2e-fineos-poll-deployments.yml
  bin/ci/get-list-failed-specs.sh
Owners: @EOLWD/pfml-e2e, @EOLWD/pfml-infra

testing abort rerun (lint)
  .github/workflows/e2e-fineos-poll-deployments.yml
Owners: @EOLWD/pfml-e2e

Update docs to 6aafa7019748316a4d3edadd932d0f063548f1b0
  releases/portal/index.html
  search/search_index.json
  sitemap.xml.gz
Owners: none

Update docs to 6aafa7019748316a4d3edadd932d0f063548f1b0
  sitemap.xml.gz
Owners: none

PORTAL-2015: Add content to modify/type (#8032)
  portal/src/locales/app/en-US.ts
  portal/src/models/ChangeRequest.ts
  portal/src/models/ClaimDetail.ts
  portal/src/pages/applications/modify/type.tsx
  portal/tests/pages/applications/modify/__snapshots__/type.test.tsx.snap
  portal/tests/pages/applications/modify/type.test.tsx
Owners: none

Update docs to 4df0781c7a681283b08febc33c7a6ca98b1ff125
  releases/admin-portal/index.html
  releases/api/index.html
  releases/portal/index.html
  search/search_index.json
  sitemap.xml.gz
Owners: none

.github/CODEOWNERS:

# Automatically assign codeowners when changed files match
#
# - Each line is a file pattern followed by one or more owners.
# - Order is important; the last matching pattern takes the most precedence
#
# See: https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners#example-of-a-codeowners-file
# ProTip: https://help.github.com/en/github/setting-up-and-managing-organizations-and-teams/managing-code-review-assignment-for-your-team

/.github/workflows/ @EOLWD/pfml-infra
/.github/actions/ @EOLWD/pfml-infra
/.github/CODEOWNERS @EOLWD/pfml-infra

/bin/ @EOLWD/pfml-infra @EOLWD/pfml-e2e
/docs/portal/ @EOLWD/pfml-portal
/e2e/ @EOLWD/pfml-e2e
/.github/actions/e2e* @EOLWD/pfml-e2e
/.github/workflows/e2e* @EOLWD/pfml-e2e
/.github/actions/setup-nr-cli/ @EOLWD/pfml-e2e
/infra/portal/ @EOLWD/pfml-portal @EOLWD/pfml-infra
/infra/admin-portal/ @EOLWD/pfml-infra @EOLWD/pfml-admin-portal
/infra/bi/ @EOLWD/pfml-infra @EOLWD/pfml-business-intel
/pdf_api/ @EOLWD/pfml-pdf-api 

/api/**/delegated_payments/ @EOLWD/pfml-payments
/api/**/irs_1099/ @EOLWD/pfml-pdf-api
