Repository Badsworth/pfml_scripts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @EOLWD/pfml-infra, @EOLWD/pfml-e2e, @EOLWD/pfml-portal, @EOLWD/pfml-admin-portal, @EOLWD/pfml-business-intel, @EOLWD/pfml-pdf-api, @EOLWD/pfml-payments

.github/CODEOWNERS:

# Automatically assign codeowners when changed files match
#
# - Each line is a file pattern followed by one or more owners.
# - Order is important; the last matching pattern takes the most precedence
#
# See: https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners#example-of-a-codeowners-file
# ProTip: https://help.github.com/en/github/setting-up-and-managing-organizations-and-teams/managing-code-review-assignment-for-your-team

/.github/workflows/ @EOLWD/pfml-infra
/.github/actions/ @EOLWD/pfml-infra
/.github/CODEOWNERS @EOLWD/pfml-infra

/bin/ @EOLWD/pfml-infra @EOLWD/pfml-e2e
/docs/portal/ @EOLWD/pfml-portal
/e2e/ @EOLWD/pfml-e2e
/.github/actions/e2e* @EOLWD/pfml-e2e
/.github/workflows/e2e* @EOLWD/pfml-e2e
/.github/actions/setup-nr-cli/ @EOLWD/pfml-e2e
/infra/portal/ @EOLWD/pfml-portal @EOLWD/pfml-infra
/infra/admin-portal/ @EOLWD/pfml-infra @EOLWD/pfml-admin-portal
/infra/bi/ @EOLWD/pfml-infra @EOLWD/pfml-business-intel
/pdf_api/ @EOLWD/pfml-pdf-api 

/api/**/delegated_payments/ @EOLWD/pfml-payments
/api/**/irs_1099/ @EOLWD/pfml-pdf-api

API-2661: Adjust alert placement / width within checklist (#8023)
  portal/src/components/Step.tsx
Owners: none

Update docs to 24db5b40a2f505fcef42a94c229758abe49832a4
  releases/admin-portal/index.html
  releases/api/index.html
  releases/portal/index.html
  search/search_index.json
  sitemap.xml.gz
Owners: none

Fix lint errors
  api/massgov/pfml/api/applications.py
Owners: none

add change request id to responses
  api/massgov/pfml/api/change_requests.py
  api/massgov/pfml/api/models/claims/responses.py
  api/openapi.yaml
  api/tests/api/test_change_requests.py
Owners: none

Add logging for ignored errors
  api/massgov/pfml/api/applications.py
Owners: none

Conditionally upload pdf or create claim in fineos
  api/massgov/pfml/api/applications.py
  api/massgov/pfml/api/services/applications.py
Owners: none

add business_net_amount and descriptions to api spec, fix typing error on pydantic model
  api/massgov/pfml/api/models/payments/responses.py
  api/massgov/pfml/api/services/payments.py
  api/massgov/pfml/db/models/employees.py
  api/openapi.yaml
Owners: none

PAY-234:Fixed error in tasks.tf file
  infra/ecs-tasks/template/tasks.tf
Owners: none

PFMLPB-4162: Investigate environments and remove logic for employerShowMultiLeaveDashboard & channelSwitching ff (#8020)
  e2e/config.json
  e2e/cypress/actions/portal.ts
  e2e/cypress/specs/stable/feature/dashboard_filters.ts
  e2e/cypress/specs/stable/scenario/fineos_bonding_continuous_channelSwitching+mfaRegistration.ts
  e2e/cypress/specs/unstable/fineos_bonding_continuous_channelSwitching+mfaRegistration.ts
  e2e/src/config.ts
  e2e/src/types.ts
Owners: @EOLWD/pfml-e2e

Update docs to 7ae34be9d4e15a02176fb3aa25767734dd840367
  releases/admin-portal/index.html
  releases/api/index.html
  releases/portal/index.html
  search/search_index.json
  sitemap.xml.gz
Owners: none

fixup! API-2623: first attempt with threadpool executor
  api/massgov/pfml/services/applications/application_submit.py
  api/tests/services/applications/test_application_submit.py
Owners: none

fixup! API-2623: first attempt with threadpool executor
  api/massgov/pfml/services/applications/application_submit.py
Owners: none

fixup! API-2623: first attempt with threadpool executor
  api/tests/api/test_applications.py
Owners: none

fixup! API-2623: first attempt with threadpool executor
  api/tests/api/test_applications.py
Owners: none

fixup! API-2623: first attempt with threadpool executor
  api/tests/services/applications/test_application_submit.py
Owners: none

PORTAL-2137: Fix new-application redirect behavior (#8028)
  portal/src/pages/employers/applications/new-application.tsx
  portal/tests/pages/employers/applications/new-application.test.tsx
Owners: none

Update docs to 241d4d4bd281dc34a5384ea51a9938758c5beb59
  releases/admin-portal/index.html
  releases/api/index.html
  releases/portal/index.html
  search/search_index.json
  sitemap.xml.gz
Owners: none

fixup! API-2623: first attempt with threadpool executor
  api/tests/api/test_applications.py
Owners: none

Add route53 IAM access for Github Actions
  infra/pfml-aws/iam-shared.tf
Owners: none

fixup! API-2623: first attempt with threadpool executor
  api/tests/api/test_applications.py
Owners: none

PORTAL-2137: Fix new-application redirect behavior (#8028)
  portal/src/pages/employers/applications/new-application.tsx
  portal/tests/pages/employers/applications/new-application.test.tsx
Owners: none

add sorting for payment lines; combine max threshold adjustment with auto gross entitlement
  api/massgov/pfml/api/services/payments.py
Owners: none

Update docs to 241d4d4bd281dc34a5384ea51a9938758c5beb59
  releases/portal/index.html
  search/search_index.json
  sitemap.xml.gz
Owners: none

Update docs to 241d4d4bd281dc34a5384ea51a9938758c5beb59
  sitemap.xml.gz
Owners: none

Added way to pick a template
  pdf_api/Assets/UserNotFound/Template/UserNotFound.html
  pdf_api/Models/DocumentClaimantInfo.cs
  pdf_api/Services/PdfDocumentService.cs
  pdf_api/Startup.cs
  pdf_api/Utilities/AmazonS3Service.cs
  pdf_api/Utilities/AmazonS3Setting.cs
  pdf_api/Utilities/Mock/AmazonS3ServiceMock.cs
  pdf_api/appsettings.Development.json
  pdf_api/appsettings.json
Owners: @EOLWD/pfml-pdf-api

INFRA-1222 add repository_dispatch (#8014)
  .github/workflows/api-rds-iam-sync.yml
Owners: @EOLWD/pfml-infra

Update docs to 289f424323b5c1b36241675cd52c0dc467f4f21f
  releases/admin-portal/index.html
  releases/api/index.html
  releases/portal/index.html
  search/search_index.json
  sitemap.xml.gz
Owners: none

Update to include IN_REVIEW and PROJECTED statuses
  api/massgov/pfml/api/services/applications.py
Owners: none

refactor tests into test class and add additional coverage
  api/tests/api/services/test_payments.py
Owners: none

Update docs to 289f424323b5c1b36241675cd52c0dc467f4f21f
  releases/api/index.html
  search/search_index.json
  sitemap.xml.gz
Owners: none

Update docs to 289f424323b5c1b36241675cd52c0dc467f4f21f
  sitemap.xml.gz
Owners: none

Update docs to 289f424323b5c1b36241675cd52c0dc467f4f21f
  sitemap.xml.gz
Owners: none

INFRA-1362-BUG - Scripted Releases - bdlake (#8030)
  .github/workflows/scripted-releases.yml
Owners: @EOLWD/pfml-infra

Update docs to d2de9c53b57f6a84a9cf8c18d5500f15877c00bf
  releases/admin-portal/index.html
  releases/api/index.html
  releases/portal/index.html
  search/search_index.json
  sitemap.xml.gz
Owners: none

remove unused code
  infra/env-shared/environments/training/lambda_functions/trigger_rds_iam_sync/trigger_rds_iam_sync.py
  infra/env-shared/environments/training/rds_iam_sync/main.tf
Owners: none

remove lambda.tf
  infra/env-shared/environments/training/rds_iam_sync/lambda.tf
Owners: none

update OI/OL scenarios
  e2e/src/scenarios/2022-01-10-training.ts
  e2e/src/scripts/2021-09-08-training.ts
Owners: @EOLWD/pfml-e2e

rename
  infra/env-shared/environments/training/trigger_rds_iam_sync/iam.tf
  infra/env-shared/environments/training/trigger_rds_iam_sync/main.tf
Owners: none

Actually attach to role
  infra/pfml-aws/iam-ci.tf
Owners: none

refactor name references
  infra/env-shared/environments/training/lambda_functions/trigger_rds_iam_sync/trigger_rds_iam_sync.py
  infra/env-shared/environments/training/trigger_rds_iam_sync/main.tf
Owners: none
