Repository Badsworth/pfml_scripts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @EOLWD/pfml-infra, @EOLWD/pfml-e2e, @EOLWD/pfml-portal, @EOLWD/pfml-admin-portal, @EOLWD/pfml-business-intel, @EOLWD/pfml-pdf-api, @EOLWD/pfml-payments

.github/CODEOWNERS:

# Automatically assign codeowners when changed files match
#
# - Each line is a file pattern followed by one or more owners.
# - Order is important; the last matching pattern takes the most precedence
#
# See: https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners#example-of-a-codeowners-file
# ProTip: https://help.github.com/en/github/setting-up-and-managing-organizations-and-teams/managing-code-review-assignment-for-your-team

/.github/workflows/ @EOLWD/pfml-infra
/.github/actions/ @EOLWD/pfml-infra
/.github/CODEOWNERS @EOLWD/pfml-infra

/bin/ @EOLWD/pfml-infra @EOLWD/pfml-e2e
/docs/portal/ @EOLWD/pfml-portal
/e2e/ @EOLWD/pfml-e2e
/.github/actions/e2e* @EOLWD/pfml-e2e
/.github/workflows/e2e* @EOLWD/pfml-e2e
/.github/actions/setup-nr-cli/ @EOLWD/pfml-e2e
/infra/portal/ @EOLWD/pfml-portal @EOLWD/pfml-infra
/infra/admin-portal/ @EOLWD/pfml-infra @EOLWD/pfml-admin-portal
/infra/bi/ @EOLWD/pfml-infra @EOLWD/pfml-business-intel
/pdf_api/ @EOLWD/pfml-pdf-api 

/api/**/delegated_payments/ @EOLWD/pfml-payments
/api/**/irs_1099/ @EOLWD/pfml-pdf-api

testing abort rerun #5
  .github/workflows/e2e-fineos-poll-deployments.yml
Owners: @EOLWD/pfml-e2e

testing abort rerun #6
  .github/workflows/e2e-fineos-poll-deployments.yml
Owners: @EOLWD/pfml-e2e

testing abort rerun #7
  .github/workflows/e2e-fineos-poll-deployments.yml
Owners: @EOLWD/pfml-e2e

testing abort rerun #8
  .github/workflows/e2e-fineos-poll-deployments.yml
Owners: @EOLWD/pfml-e2e

testing abort rerun #9
  .github/workflows/e2e-fineos-poll-deployments.yml
  .github/workflows/e2e-tests.yml
Owners: @EOLWD/pfml-e2e

PORTAL-2119 Log Response Validation exceptions as warnings instead of errors (#8052)
  api/massgov/pfml/api/validation/validators.py
  api/massgov/pfml/util/newrelic/events.py
  api/tests/api/validation/test_validation.py
Owners: none

Update docs to 938b19ec1d9230b6ad32990a6a73c24eb82d52ad
  releases/admin-portal/index.html
  releases/api/index.html
  releases/portal/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Owners: none

testing abort rerun #10
  .github/workflows/e2e-fineos-poll-deployments.yml
Owners: @EOLWD/pfml-e2e

testing abort rerun final
  .github/workflows/e2e-fineos-poll-deployments.yml
  .github/workflows/e2e-tests.yml
Owners: @EOLWD/pfml-e2e

testing abort rerun final (extra)
  bin/ci/get-list-failed-specs.sh
Owners: @EOLWD/pfml-infra, @EOLWD/pfml-e2e
