Repository Badsworth/pfml_scripts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @EOLWD/pfml-portal, @EOLWD/pfml-e2e, @jamesbursa, @oscarAtNava, @chouinar, @shebryant, @jkpace, @doshitan, @sharonwarner, @jnfang, @EyuelAbebe, @antxaddis, @kyeah, @mhuneke, @paz-focus

Update docs to 466a08a5631ceadd2ef23993da9498600902fe97
  sitemap.xml.gz
Owners: none

change domain name (#4590)
  api/massgov/pfml/fineos/transforms/to_fineos/eforms/employer.py
  api/tests/fineos/transforms/to_fineos/eforms/test_employer.py
  api/tests/fineos/transforms/to_fineos/test_to_fineos_base.py
Owners: @doshitan, @oscarAtNava

Update docs to 13ee166800434d6eee47a7bae2155fb5735c38b7
  releases/api.html
  releases/portal.html
  search/search_index.json
  sitemap.xml.gz
Owners: none

Update docs to 13ee166800434d6eee47a7bae2155fb5735c38b7
  sitemap.xml.gz
Owners: none

RCP-2313: set useNewPlanProofs to true in all environments (#4589)
  portal/config/featureFlags.js
Owners: @EOLWD/pfml-portal

wip
  e2e/src/scenarios/2021-06-24-training.ts
Owners: @EOLWD/pfml-e2e

update _api.ts
  e2e/src/_api.ts
Owners: @EOLWD/pfml-e2e

add concurrent leave to ER generation
  e2e/src/generation/Claim.ts
  e2e/src/generation/ConcurrentLeave.ts
  e2e/src/generation/OtherIncomes.ts
  e2e/test/unit/generation/Claim.ts
Owners: @EOLWD/pfml-e2e

lint fixes
  e2e/src/scenarios/lst.ts
Owners: @EOLWD/pfml-e2e

scenarios & generation file
  e2e/src/scenarios/2021-06-24-training.ts
  e2e/src/scripts/2021-06-24-training.ts
Owners: @EOLWD/pfml-e2e

add task post submit function
  e2e/src/submission/PostSubmit.ts
Owners: @EOLWD/pfml-e2e

API-1749: Fix breakfix ecs-tasks config after INFRA-411 (#4604)
  infra/ecs-tasks/environments/breakfix/main.tf
Owners: none

PFMLPB-1425: Add maintenance/feature flag endpoint to API (#4396)
  api/docker-compose.yml
  api/massgov/pfml/api/flags.py
  api/massgov/pfml/api/models/flags/__init__.py
  api/massgov/pfml/api/models/flags/responses.py
  api/massgov/pfml/util/feature_gate/__init__.py
  api/massgov/pfml/util/feature_gate/features_cache.py
  api/openapi.yaml
  api/tests/api/test_flags.py
  api/tests/util/feature_gate/features.yaml
  api/tests/util/feature_gate/test_feature_gate.py
Owners: @jamesbursa, @kyeah, @jkpace, @shebryant, @chouinar, @oscarAtNava

Update docs to fcf97575eb1a411dc02cdbc02de3c8476b532f21
  releases/api.html
  releases/portal.html
  search/search_index.json
  sitemap.xml.gz
Owners: none

CP-2191: Customize review page error for missing required fields (#4565)
  portal/src/flows/claimant.js
  portal/src/hooks/__mocks__/useAppErrorsLogic.js
  portal/src/hooks/__mocks__/useAppLogic.js
  portal/src/hooks/useAppErrorsLogic.js
  portal/src/hooks/useAppLogic.js
  portal/src/locales/app/en-US.js
  portal/src/pages/applications/review.js
  portal/tests/hooks/useAppErrorsLogic.test.js
  portal/tests/hooks/useAppLogic.test.js
  portal/tests/pages/applications/__snapshots__/review.test.js.snap
  portal/tests/pages/applications/review.test.js
Owners: @EOLWD/pfml-portal

Update docs to 56b415eb8c0b8d279847ba4bf0719ab3a76707e7
  releases/api.html
  releases/portal.html
  search/search_index.json
  sitemap.xml.gz
Owners: none

EMPLOYER-1472: Send benefit_amount_dollars as number instead of string (#4591)
  portal/src/components/employers/AmendableEmployerBenefit.js
  portal/tests/components/employers/AmendableEmployerBenefit.test.js
  portal/tests/components/employers/__snapshots__/AmendableEmployerBenefit.test.js.snap
Owners: @EOLWD/pfml-portal

remove lambda from ci
  .github/workflows/api-deploy.yml
Owners: none

remove lambda handlers
  api/massgov/pfml/cognito_post_confirmation_lambda/__init__.py
  api/massgov/pfml/cognito_post_confirmation_lambda/lib.py
  api/massgov/pfml/cognito_post_confirmation_lambda/main.py
  api/massgov/pfml/cognito_pre_signup_lambda/__init__.py
  api/massgov/pfml/cognito_pre_signup_lambda/lib.py
  api/massgov/pfml/cognito_pre_signup_lambda/main.py
Owners: @sharonwarner

Sergeikabuldzhanov/pfmlb 1474 update api types (#4607)
  e2e/src/_api.ts
  e2e/src/generation/Claim.ts
  e2e/src/generation/ConcurrentLeave.ts
  e2e/src/generation/OtherIncomes.ts
  e2e/src/scenarios/lst.ts
  e2e/test/unit/generation/Claim.ts
Owners: @EOLWD/pfml-e2e

remove lambda infra
  api/lambdas/cognito_post_confirmation/Makefile
  api/lambdas/cognito_post_confirmation/README.md
  api/lambdas/cognito_post_confirmation/env.json
  api/lambdas/cognito_post_confirmation/handler.py
  api/lambdas/cognito_post_confirmation/requirements.txt
  api/lambdas/cognito_post_confirmation/template.yaml
  api/lambdas/cognito_post_confirmation/test_event.json
  api/lambdas/cognito_post_confirmation/test_forgot_password_event.json
  api/lambdas/cognito_post_confirmation/test_leave_admin_event.json
  api/lambdas/cognito_pre_signup/Makefile
  api/lambdas/cognito_pre_signup/README.md
  api/lambdas/cognito_pre_signup/env.json
  api/lambdas/cognito_pre_signup/handler.py
  api/lambdas/cognito_pre_signup/requirements.txt
  api/lambdas/cognito_pre_signup/template.yaml
  api/lambdas/cognito_pre_signup/test_event.json
Owners: @paz-focus, @sharonwarner

Update docs to 4825214489d14800670cb87d4f4152d95c37200d
  releases/api.html
  releases/portal.html
  search/search_index.json
  sitemap.xml.gz
Owners: none

Add missing issue type
  api/massgov/pfml/api/validation/__init__.py
Owners: @antxaddis, @kyeah

EMPLOYER-1490: Reintroduce benefit amount, frequency for v1 (#4609)
  portal/src/components/employers/AmendableEmployerBenefit.js
  portal/tests/components/employers/AmendableEmployerBenefit.test.js
  portal/tests/components/employers/__snapshots__/AmendableEmployerBenefit.test.js.snap
Owners: @EOLWD/pfml-portal

EMPLOYER-1418: add missing date to employer review qualifying reasons (#4610)
  portal/src/locales/app/en-US.js
Owners: @EOLWD/pfml-portal

Update docs to 5626fb6c789959190741e63c14f26f0ae3cc803b
  releases/api.html
  releases/portal.html
  search/search_index.json
  sitemap.xml.gz
Owners: none

Make modal css follow bem a bit better
  admin/src/components/_Modal.scss
Owners: none

Update docs to 5626fb6c789959190741e63c14f26f0ae3cc803b
  releases/portal.html
  search/search_index.json
  sitemap.xml.gz
Owners: none

Update docs to 5626fb6c789959190741e63c14f26f0ae3cc803b
  sitemap.xml.gz
Owners: none

Update docs to 5626fb6c789959190741e63c14f26f0ae3cc803b
  sitemap.xml.gz
Owners: none

INFRA-557: add breakfix and cps preview to ci workflow and monitoring (#4606)
  .github/workflows/infra-validate.yml
  infra/modules/alarms_api/alarms-newrelic.tf
  infra/modules/alarms_portal/alarms-newrelic.tf
  infra/modules/alarms_portal/newrelic_entity.tf
  infra/modules/alarms_portal/variables.tf
  infra/modules/email_bounce/alarms-newrelic.tf
  infra/monitoring/alarms.tf
Owners: none

Update docs to ca098cc1e7efa640cbd5e0f820b842e79e410f39
  releases/api.html
  releases/portal.html
  search/search_index.json
  sitemap.xml.gz
Owners: none

custom login (#4611)
  infra/modules/alarms_portal/alarms-newrelic.tf
Owners: none

Update docs to bf8f435533297cb9c86e4f72331c8644cd0a40e8
  releases/api.html
  releases/portal.html
  search/search_index.json
  sitemap.xml.gz
Owners: none

Update docs to bf8f435533297cb9c86e4f72331c8644cd0a40e8
  releases/portal.html
  search/search_index.json
  sitemap.xml.gz
Owners: none

Make modal css follow bem a bit better
  admin/src/components/Modal.tsx
  admin/src/components/_Modal.scss
  admin/src/pages/index.tsx
  admin/styles/globals.scss
Owners: none

Make modal css follow bem a bit better
  admin/styles/bem_components.scss
Owners: none

Add css linting and fixer
  admin/.stylelintrc.json
  admin/package-lock.json
  admin/package.json
Owners: none

Make modal css follow bem a bit better
  admin/src/components/Modal.tsx
Owners: none

Add stylelint to npm run format and npm run lint
  admin/.stylelintrc.json
  admin/package.json
Owners: none

.github/CODEOWNERS:

# Automatically assign codeowners when changed files match
#
# - Each line is a file pattern followed by one or more owners.
# - Order is important; the last matching pattern takes the most precedence
#
# See: https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners#example-of-a-codeowners-file
# ProTip: https://help.github.com/en/github/setting-up-and-managing-organizations-and-teams/managing-code-review-assignment-for-your-team

/portal/ @EOLWD/pfml-portal
/docs/portal/ @EOLWD/pfml-portal
/infra/portal/ @EOLWD/pfml-portal
/e2e/ @EOLWD/pfml-e2e

# These patterns include ** to match both api/massgov/pfml/DIR and api/tests/DIR
/api/                                                  @jamesbursa @oscarAtNava
/api/**/util/                                          @chouinar @jamesbursa
/api/**/api/                                           @jamesbursa @shebryant
/api/**/api/*.py                                       @jkpace @shebryant
/api/**/api/auth*/                                     @doshitan @shebryant
/api/**/api/claims*                                    @jkpace @sharonwarner
/api/**/api/services/*applications.py                  @doshitan @jnfang
/api/**/api/services/*fineos_actions.py                @jnfang @oscarAtNava
/api/**/api/services/*administrator_fineos_actions.py  @jkpace @sharonwarner
/api/**/api/eligibility/                               @EyuelAbebe @jamesbursa
/api/**/api/validation/                                @antxaddis @kyeah
/api/**/cognito*/                                      @sharonwarner
/api/**/db/                                            @doshitan @jamesbursa
/api/**/delegated_payments/                            @chouinar @antxaddis
/api/**/dor/                                           @antxaddis @mhuneke
/api/**/fineos/                                        @doshitan @oscarAtNava
/api/**/formstack/                                     @sharonwarner
/api/**/payments/                                      @chouinar @antxaddis
/api/**/reductions/                                    @mhuneke @doshitan
/api/**/rmv/                                           @doshitan @kyeah
/api/**/servicenow/                                    @sharonwarner
/api/**/user_import/                                   @sharonwarner
/api/lambdas/                                          @paz-focus @sharonwarner
/api/?ocker*                                           @jamesbursa @kyeah
/api/Makefile                                          @doshitan @kyeah
/api/openapi.yaml                                      @oscarAtNava @shebryant
