Repository Badsworth/pfml_scripts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @EOLWD/pfml-portal, @EOLWD/pfml-e2e, @jamesbursa, @oscarAtNava, @chouinar, @shebryant, @jkpace, @doshitan, @sharonwarner, @jnfang, @EyuelAbebe, @antxaddis, @kyeah, @mhuneke, @paz-focus

.github/CODEOWNERS:

# Automatically assign codeowners when changed files match
#
# - Each line is a file pattern followed by one or more owners.
# - Order is important; the last matching pattern takes the most precedence
#
# See: https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners#example-of-a-codeowners-file
# ProTip: https://help.github.com/en/github/setting-up-and-managing-organizations-and-teams/managing-code-review-assignment-for-your-team

/portal/ @EOLWD/pfml-portal
/docs/portal/ @EOLWD/pfml-portal
/infra/portal/ @EOLWD/pfml-portal
/e2e/ @EOLWD/pfml-e2e

# These patterns include ** to match both api/massgov/pfml/DIR and api/tests/DIR
/api/                                                  @jamesbursa @oscarAtNava
/api/**/util/                                          @chouinar @jamesbursa
/api/**/api/                                           @jamesbursa @shebryant
/api/**/api/*.py                                       @jkpace @shebryant
/api/**/api/auth*/                                     @doshitan @shebryant
/api/**/api/claims*                                    @jkpace @sharonwarner
/api/**/api/services/*applications.py                  @doshitan @jnfang
/api/**/api/services/*fineos_actions.py                @jnfang @oscarAtNava
/api/**/api/services/*administrator_fineos_actions.py  @jkpace @sharonwarner
/api/**/api/eligibility/                               @EyuelAbebe @jamesbursa
/api/**/api/validation/                                @antxaddis @kyeah
/api/**/cognito*/                                      @sharonwarner
/api/**/db/                                            @doshitan @jamesbursa
/api/**/delegated_payments/                            @chouinar @antxaddis
/api/**/dor/                                           @antxaddis @mhuneke
/api/**/fineos/                                        @doshitan @oscarAtNava
/api/**/formstack/                                     @sharonwarner
/api/**/payments/                                      @chouinar @antxaddis
/api/**/reductions/                                    @mhuneke @doshitan
/api/**/rmv/                                           @doshitan @kyeah
/api/**/servicenow/                                    @sharonwarner
/api/**/user_import/                                   @sharonwarner
/api/lambdas/                                          @paz-focus @sharonwarner
/api/?ocker*                                           @jamesbursa @kyeah
/api/Makefile                                          @doshitan @kyeah
/api/openapi.yaml                                      @oscarAtNava @shebryant

PFMLB-1017: employer amendment and review (#4552)
  e2e/cypress/actions/fineos.pages.ts
  e2e/cypress/actions/fineos.ts
  e2e/cypress/actions/portal.ts
  e2e/cypress/specs/unstable/fineos_medical_continous_reduction_denial.ts
  e2e/cypress/specs/unstable/medical_cont_approval_amend_pymt_reduction_90K.ts
  e2e/cypress/specs/unstable/other_leaves_and_benefits_ER_correction.ts
  e2e/src/scenarios/cypress.ts
  e2e/src/types.ts
  e2e/src/util/claims.ts
Owners: @EOLWD/pfml-e2e

Update docs to bd935a9462038d87316de4c2efaa199c4c62a85f
  releases/api.html
  releases/portal.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Owners: none

EMPLOYER-718: Remove employer self-registration feature flag (#4551)
  portal/config/featureFlags.js
  portal/src/locales/app/en-US.js
  portal/src/pages/create-account.js
  portal/src/pages/employers/create-account.js
  portal/src/pages/index.js
  portal/src/pages/login.js
  portal/tests/pages/__snapshots__/create-account.test.js.snap
  portal/tests/pages/__snapshots__/index.test.js.snap
  portal/tests/pages/__snapshots__/login.test.js.snap
  portal/tests/pages/create-account.test.js
  portal/tests/pages/employers/__snapshots__/create-account.test.js.snap
  portal/tests/pages/employers/create-account.test.js
  portal/tests/pages/index.test.js
Owners: @EOLWD/pfml-portal

Update docs to ac2ce6c41300f444028df0706a7cf28e03adc088
  releases/api.html
  releases/portal.html
  search/search_index.json
  sitemap.xml.gz
Owners: none

Add our layout
  admin/package-lock.json
  admin/package.json
  admin/pages/_app.tsx
  admin/pages/index.tsx
  admin/styles/Home.module.css
  admin/styles/globals.css
Owners: none

INFRA-411: combine step function jsons into a single template (#4342)
  bin/bootstrap-env/api/main.tf
  bin/bootstrap-env/api/step_function/dor_fineos_etl.json
  bin/bootstrap-env/api/step_functions.tf
  infra/ecs-tasks/environments/breakfix/main.tf
  infra/ecs-tasks/environments/breakfix/step_function/dor_fineos_etl.json
  infra/ecs-tasks/environments/breakfix/step_functions.tf
  infra/ecs-tasks/environments/cps-preview/main.tf
  infra/ecs-tasks/environments/cps-preview/step_function/dor_fineos_etl.json
  infra/ecs-tasks/environments/cps-preview/step_functions.tf
  infra/ecs-tasks/environments/performance/main.tf
  infra/ecs-tasks/environments/performance/step_function/dor_fineos_etl.json
  infra/ecs-tasks/environments/performance/step_functions.tf
  infra/ecs-tasks/environments/prod/main.tf
  infra/ecs-tasks/environments/prod/step_function/dor_fineos_etl.json
  infra/ecs-tasks/environments/prod/step_functions.tf
  infra/ecs-tasks/environments/stage/main.tf
  infra/ecs-tasks/environments/stage/step_function/dor_fineos_etl.json
  infra/ecs-tasks/environments/stage/step_functions.tf
  infra/ecs-tasks/environments/test/main.tf
  infra/ecs-tasks/environments/test/step_function/dor_fineos_etl.json
  infra/ecs-tasks/environments/test/step_functions.tf
  infra/ecs-tasks/environments/training/main.tf
  infra/ecs-tasks/environments/training/step_function/dor_fineos_etl.json
  infra/ecs-tasks/environments/training/step_functions.tf
  infra/ecs-tasks/environments/uat/main.tf
  infra/ecs-tasks/environments/uat/step_function/dor_fineos_etl.json
  infra/ecs-tasks/environments/uat/step_functions.tf
  infra/ecs-tasks/template/step_function/dor_fineos_etl.json
  infra/ecs-tasks/template/step_functions.tf
  infra/ecs-tasks/template/variables.tf
Owners: none

Update docs to 244067c28211cf8c512bb16a08572cf20550ee1e
  releases/api.html
  releases/portal.html
  search/search_index.json
  sitemap.xml.gz
Owners: none

Move pages into src
  admin/pages/api/hello.ts
  admin/src/pages/_app.tsx
  admin/src/pages/index.tsx
Owners: none

Add eslint
  admin/.eslintrc
  admin/package-lock.json
  admin/package.json
  admin/src/pages/_app.tsx
  admin/src/pages/index.tsx
Owners: none

Configure prettier
  admin/index.html
  admin/package.json
Owners: none

EMPLOYER-1427: hide caring welcome alert if reductions welcome alert visible (#4583)
  portal/src/pages/employers/welcome.js
  portal/tests/pages/employers/welcome.test.js
Owners: @EOLWD/pfml-portal

Update docs to ee9baa689c12dc26f8979ebe4af371c59ef93524
  releases/api.html
  releases/portal.html
  search/search_index.json
  sitemap.xml.gz
Owners: none

remove "visitClaim" call that caused tests to crash
  e2e/cypress/actions/fineos.ts
Owners: @EOLWD/pfml-e2e

PFMLPB-1506: Run one iteration of LST scenarios on PRs after flood code changes (#4584)
  .github/workflows/e2e-ci.yml
Owners: none

Update docs to 26b23ad1449e239e2696c9af73adaa8abcf0f8b3
  releases/api.html
  releases/portal.html
  search/search_index.json
  sitemap.xml.gz
Owners: none

Change the environment variable for stage to 6.29 12 am EST. (#4599)
  infra/api/environments/stage/main.tf
Owners: none

Update docs to a30fb24e6d238086a50cca7da7f89777afcb1aa7
  releases/api.html
  releases/portal.html
  search/search_index.json
  sitemap.xml.gz
Owners: none

Configure prettier
  admin/.prettierignore
  admin/.prettierrc
Owners: none

Update docs to a30fb24e6d238086a50cca7da7f89777afcb1aa7
  releases/api.html
  releases/portal.html
  search/search_index.json
  sitemap.xml.gz
Owners: none

Update docs to a30fb24e6d238086a50cca7da7f89777afcb1aa7
  sitemap.xml.gz
Owners: none

Update docs to a30fb24e6d238086a50cca7da7f89777afcb1aa7
  sitemap.xml.gz
Owners: none

CP-2276: remove caring leave flag in content share page (#4595)
  portal/src/locales/app/en-US.js
  portal/src/pages/user/consent-to-data-sharing.js
  portal/tests/pages/user/__snapshots__/consent-to-data-sharing.test.js.snap
Owners: @EOLWD/pfml-portal

Update docs to a30fb24e6d238086a50cca7da7f89777afcb1aa7
  sitemap.xml.gz
Owners: none

CP-2206 Follow-up: Open case creation error guide in new tab (#4541)
  portal/src/hooks/useAppErrorsLogic.js
  portal/src/routes.js
  portal/tests/hooks/useAppErrorsLogic.test.js
Owners: @EOLWD/pfml-portal

Update docs to 32b0b728c2650faaa54d8729b027a8ae46492bce
  releases/api.html
  releases/portal.html
  search/search_index.json
  sitemap.xml.gz
Owners: none

EMPLOYER-1473: render 'full salary' or 'not reported' when AmendableEmployerBenefit amounts null (#4600)
  portal/src/components/employers/AmendableEmployerBenefit.js
  portal/src/locales/app/en-US.js
  portal/tests/components/employers/AmendableEmployerBenefit.test.js
  portal/tests/pages/applications/__snapshots__/review.test.js.snap
  portal/tests/test-utils/mock-model-builder.js
Owners: @EOLWD/pfml-portal

Update docs to 68106cd77cf39e0a7bce7cbf835677fc60a71bf9
  releases/api.html
  releases/portal.html
  search/search_index.json
  sitemap.xml.gz
Owners: none

EMPLOYER-1414: remove showCaringLeaveType flag in review page for soft launch (#4455)
  portal/src/components/employers/LeaveDetails.js
  portal/src/pages/employers/applications/review.js
  portal/tests/components/employers/LeaveDetails.test.js
  portal/tests/components/employers/__snapshots__/LeaveDetails.test.js.snap
  portal/tests/pages/employers/applications/review.test.js
Owners: @EOLWD/pfml-portal

Update docs to 68106cd77cf39e0a7bce7cbf835677fc60a71bf9
  releases/portal.html
  search/search_index.json
  sitemap.xml.gz
Owners: none

Update docs to 68106cd77cf39e0a7bce7cbf835677fc60a71bf9
  sitemap.xml.gz
Owners: none

Update docs to 68106cd77cf39e0a7bce7cbf835677fc60a71bf9
  sitemap.xml.gz
Owners: none

CP-2135: Clear consent_to_data_sharing column with migration (#4567)
  api/massgov/pfml/db/migrations/versions/2021_06_22_16_31_25_aa54e512ffb7_clear_consented_to_data_sharing_column.py
Owners: @doshitan, @jamesbursa

Update docs to 4c98a268dede6e339c5ce6f1a099ffecb6b83cba
  releases/api.html
  releases/portal.html
  search/search_index.json
  sitemap.xml.gz
Owners: none

CP-2289: use dynamic previousLeaveStartDate on details pages (#4594)
  portal/src/locales/app/en-US.js
  portal/src/pages/applications/previous-leaves-other-reason-details.js
  portal/src/pages/applications/previous-leaves-same-reason-details.js
  portal/storybook/stories/pages/applications/previous-leaves-other-reason-details.stories.js
  portal/storybook/stories/pages/applications/previous-leaves-same-reason-details.stories.js
  portal/tests/pages/applications/previous-leaves-other-reason-details.test.js
  portal/tests/pages/applications/previous-leaves-same-reason-details.test.js
Owners: @EOLWD/pfml-portal

Update docs to 2c110722ee7a5e9b6c8e49d3835bc89ce3500fcb
  releases/api.html
  releases/portal.html
  search/search_index.json
  sitemap.xml.gz
Owners: none

Add jest, scss
  admin/jest.config.ts
  admin/package-lock.json
  admin/package.json
  admin/src/components/Modal.tsx
  admin/src/components/_Modal.scss
  admin/src/pages/_app.tsx
  admin/src/pages/index.tsx
  admin/styles/Home.module.css
  admin/styles/globals.scss
Owners: none

Update docs to 2c110722ee7a5e9b6c8e49d3835bc89ce3500fcb
  releases/api.html
  search/search_index.json
  sitemap.xml.gz
Owners: none

EMPLOYER-1454: Update create-user so user has consented to data sharing (#4501)
  api/bin/create-user.py
Owners: @jamesbursa, @oscarAtNava

Update docs to 466a08a5631ceadd2ef23993da9498600902fe97
  releases/api.html
  releases/portal.html
  search/search_index.json
  sitemap.xml.gz
Owners: none

Update docs to 466a08a5631ceadd2ef23993da9498600902fe97
  releases/api.html
  search/search_index.json
  sitemap.xml.gz
Owners: none
