Repository Badsworth/pfml_scripts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @EOLWD/pfml-infra, @EOLWD/pfml-e2e, @EOLWD/pfml-portal, @EOLWD/pfml-admin-portal, @EOLWD/pfml-business-intel, @EOLWD/pfml-pdf-api, @EOLWD/pfml-payments

PORTAL-2022: Add change request higher order components (#8021)
  portal/src/hoc/withChangeRequest.tsx
  portal/src/hoc/withChangeRequests.tsx
  portal/src/hooks/__mocks__/useAppLogic.ts
  portal/src/locales/app/en-US.ts
  portal/tests/hoc/withChangeRequest.test.js
  portal/tests/hoc/withChangeRequests.test.js
Owners: none

nit
  portal/src/pages/applications/modify/review.tsx
Owners: none

Update docs to 7ac0c057dcab8d8157e5a6decc96d67884cdcc32
  releases/admin-portal/index.html
  releases/api/index.html
  releases/portal/index.html
  search/search_index.json
  sitemap.xml.gz
Owners: none

fixup! API-2049: add new waiting week audit report type
  api/massgov/pfml/db/models/payments.py
Owners: none

testing abort rerun #1
  .github/workflows/e2e-fineos-poll-deployments.yml
Owners: @EOLWD/pfml-e2e

PORTAL-2060: Add first_name, last_name, and phone_number columns to User (#8048)
  api/massgov/pfml/db/migrations/versions/2022_04_13_18_11_07_02f64a649015_first_name_last_name_and_phone_number_.py
  api/massgov/pfml/db/models/employees.py
  docs/assets/api/erds/applications.png
  docs/assets/api/erds/employees.png
Owners: none

Update docs to 968abf99364a58d2b30ebdcaf012c3748b78bf74
  assets/api/erds/applications.png
  assets/api/erds/employees.png
  releases/admin-portal/index.html
  releases/api/index.html
  releases/portal/index.html
  search/search_index.json
  sitemap.xml.gz
Owners: none

adding admin-portal to regex check
  bin/ci/scripted_releases/git_utils.py
Owners: @EOLWD/pfml-infra, @EOLWD/pfml-e2e

adding debugging statement
  bin/ci/scripted_releases/git_utils.py
Owners: @EOLWD/pfml-infra, @EOLWD/pfml-e2e

Update docs to 968abf99364a58d2b30ebdcaf012c3748b78bf74
  releases/portal/index.html
  search/search_index.json
  sitemap.xml.gz
Owners: none

Update docs to 968abf99364a58d2b30ebdcaf012c3748b78bf74
  sitemap.xml.gz
Owners: none

debugging
  bin/ci/scripted_releases/git_utils.py
Owners: @EOLWD/pfml-infra, @EOLWD/pfml-e2e

secret token arn
  infra/tooling/main.tf
  infra/tooling/trigger_rds_iam_sync/iam.tf
  infra/tooling/trigger_rds_iam_sync/main.tf
Owners: none

PORTAL-1768: Sync mfa preferences to Cognito if feature flag is set (#7680)
  api/massgov/pfml/api/services/users.py
  api/massgov/pfml/api/users.py
  api/massgov/pfml/mfa/__init__.py
  api/tests/api/services/test_users.py
  api/tests/mfa/test_mfa.py
Owners: none

Update docs to ea424d3b6da579415c26a6f8580ac3a20e184dc5
  releases/admin-portal/index.html
  releases/api/index.html
  releases/portal/index.html
  search/search_index.json
  sitemap.xml.gz
Owners: none

uncomment
  bin/ci/scripted_releases/git_utils.py
Owners: @EOLWD/pfml-infra, @EOLWD/pfml-e2e

Remove data parsing approach
  api/massgov/pfml/api/validation/validators.py
Owners: none

Combine pub policies
  infra/pfml-aws/iam-agencies-pub.tf
Owners: none

smol cleanup
  infra/pfml-aws/iam-agencies-pub.tf
Owners: none

add eventbridge rule
  infra/tooling/trigger_rds_iam_sync/iam.tf
  infra/tooling/trigger_rds_iam_sync/main.tf
Owners: none

add locals
  infra/tooling/trigger_rds_iam_sync/main.tf
Owners: none

Fix comments
  infra/pfml-aws/iam-agencies-pub.tf
Owners: none

thanks linter
  infra/pfml-aws/iam-agencies-pub.tf
Owners: none

add tests
  portal/src/hoc/withChangeRequest.tsx
  portal/src/pages/applications/modify/review.tsx
  portal/tests/pages/applications/modify/__snapshots__/review.test.tsx.snap
  portal/tests/pages/applications/modify/review.test.tsx
Owners: none

thanks planner
  infra/pfml-aws/iam-agencies-pub.tf
Owners: none

remove optional change request
  portal/src/pages/applications/modify/review.tsx
Owners: none

add event pattern for rds snapshot
  infra/tooling/trigger_rds_iam_sync/main.tf
Owners: none

fixup! API-2623: first attempt with threadpool executor
  api/massgov/pfml/services/applications/application_submit.py
Owners: none

ts
  portal/storybook/stories/pages/applications/modify/review.stories.tsx
Owners: none

removed extra underscore
  infra/tooling/trigger_rds_iam_sync/iam.tf
  infra/tooling/trigger_rds_iam_sync/main.tf
Owners: none

Fix very bad typos
  infra/pfml-aws/iam-agencies-pub.tf
Owners: none

Use error.instance instead of parsing data
  api/massgov/pfml/api/validation/exceptions.py
  api/massgov/pfml/api/validation/validators.py
Owners: none

Update tests
  api/tests/api/test_applications.py
  api/tests/api/test_users.py
Owners: none

add document submitted at
  api/massgov/pfml/api/change_requests.py
  api/massgov/pfml/api/models/claims/responses.py
  api/openapi.yaml
  api/tests/api/test_change_requests.py
Owners: none

Swap logic
  api/massgov/pfml/api/services/application_import.py
Owners: none

Lint fix
  api/massgov/pfml/api/validation/validators.py
Owners: none

update snaps
  portal/src/models/ChangeRequest.ts
  portal/src/pages/applications/modify/review.tsx
  portal/storybook/stories/pages/applications/modify/review.stories.tsx
  portal/tests/hooks/useChangeRequestsLogic.test.js
  portal/tests/pages/applications/modify/review.test.tsx
Owners: none

testing abort rerun #2
  .github/workflows/e2e-fineos-poll-deployments.yml
Owners: @EOLWD/pfml-e2e

testing abort rerun #3
  .github/workflows/e2e-fineos-poll-deployments.yml
Owners: @EOLWD/pfml-e2e

testing abort rerun #4
  .github/workflows/e2e-fineos-poll-deployments.yml
Owners: @EOLWD/pfml-e2e

.github/CODEOWNERS:

# Automatically assign codeowners when changed files match
#
# - Each line is a file pattern followed by one or more owners.
# - Order is important; the last matching pattern takes the most precedence
#
# See: https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners#example-of-a-codeowners-file
# ProTip: https://help.github.com/en/github/setting-up-and-managing-organizations-and-teams/managing-code-review-assignment-for-your-team

/.github/workflows/ @EOLWD/pfml-infra
/.github/actions/ @EOLWD/pfml-infra
/.github/CODEOWNERS @EOLWD/pfml-infra

/bin/ @EOLWD/pfml-infra @EOLWD/pfml-e2e
/docs/portal/ @EOLWD/pfml-portal
/e2e/ @EOLWD/pfml-e2e
/.github/actions/e2e* @EOLWD/pfml-e2e
/.github/workflows/e2e* @EOLWD/pfml-e2e
/.github/actions/setup-nr-cli/ @EOLWD/pfml-e2e
/infra/portal/ @EOLWD/pfml-portal @EOLWD/pfml-infra
/infra/admin-portal/ @EOLWD/pfml-infra @EOLWD/pfml-admin-portal
/infra/bi/ @EOLWD/pfml-infra @EOLWD/pfml-business-intel
/pdf_api/ @EOLWD/pfml-pdf-api 

/api/**/delegated_payments/ @EOLWD/pfml-payments
/api/**/irs_1099/ @EOLWD/pfml-pdf-api
