Repository Badsworth/pfml_scripts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @EOLWD/pfml-infra, @EOLWD/pfml-e2e, @EOLWD/pfml-portal, @EOLWD/pfml-admin-portal, @EOLWD/pfml-business-intel, @EOLWD/pfml-pdf-api, @EOLWD/pfml-payments

update iam
  infra/env-shared/environments/training/trigger_rds_iam_sync/iam.tf
  infra/env-shared/environments/training/trigger_rds_iam_sync/main.tf
Owners: none

whoops
  infra/pfml-aws/iam-shared.tf
Owners: none

PORTAL-2123: remove invalid params (#8024)
  portal/src/hoc/withClaims.tsx
  portal/tests/hoc/withClaims.test.js
Owners: none

Update docs to 729a7b9154f158bec4a679cb36d96830154eb630
  releases/admin-portal/index.html
  releases/api/index.html
  releases/portal/index.html
  search/search_index.json
  sitemap.xml.gz
Owners: none

Specify max number of thread pool workers
  api/massgov/pfml/api/applications.py
Owners: none

page update
  portal/src/locales/app/en-US.ts
  portal/src/pages/applications/modify/index.tsx
  portal/tests/pages/applications/modify/__snapshots__/index.test.tsx.snap
  portal/tests/pages/applications/modify/index.test.tsx
Owners: none

PFMLPB-3809: Update approveClaim() in post submission actions to work with non-continuous leave types (#8017)
  e2e/src/submission/PostSubmit.ts
  e2e/src/submission/fineos.pages.ts
  e2e/src/types.ts
  e2e/src/util/claims.ts
  e2e/test/integration/claim_post_submit_processing.ts
Owners: @EOLWD/pfml-e2e

Update docs to 30e0e6af4ba749c7166d0a5f51fec6e0604d7d44
  releases/admin-portal/index.html
  releases/api/index.html
  releases/portal/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Owners: none

update snap
  portal/tests/pages/applications/modify/__snapshots__/index.test.tsx.snap
  portal/tests/pages/applications/modify/index.test.tsx
Owners: none

PFMLPB-4192: Revert link assertion back to original link in the following spec: approvalNoticesNotifications (#8038)
  e2e/cypress/specs/stable/feature/api_bonding_reduced_approval_approvalNoticesNotifications.ts
Owners: @EOLWD/pfml-e2e

Update docs to 7fc27adb0c9863ff794a05a4946fdab0b1070e99
  releases/admin-portal/index.html
  releases/api/index.html
  releases/portal/index.html
  search/search_index.json
  sitemap.xml.gz
Owners: none

API-2664: Remove FINEOS C & I values from payments API response (#8015)
  api/massgov/pfml/api/models/payments/responses.py
  api/massgov/pfml/api/services/payments.py
  api/massgov/pfml/db/models/factories.py
  api/openapi.yaml
  api/tests/api/services/test_payments.py
  api/tests/api/test_payments.py
  portal/tests/api/PaymentsApi.test.js
Owners: none

first pass
  portal/src/hoc/withClaimDetail.tsx
  portal/tests/hoc/withClaimDetail.test.js
Owners: none

INFRA-1326: add audit_s3_buckets (#8005)
  .github/workflows/infra-tooling-deploy.yml
  infra/tooling/auditors.json
  infra/tooling/lambda_functions/audit_lambda/audit_lambda.py
  infra/tooling/lambda_functions/audit_lambda/audit_lambda.zip
  infra/tooling/lambda_functions/audit_s3/audit_s3.py
  infra/tooling/main.tf
Owners: @EOLWD/pfml-infra

Update docs to 4552c8c815c99e14e4c4b4326d673e2aee9f5950
  releases/admin-portal/index.html
  releases/api/index.html
  releases/portal/index.html
  search/search_index.json
  sitemap.xml.gz
Owners: none

Update docs to 4552c8c815c99e14e4c4b4326d673e2aee9f5950
  sitemap.xml.gz
Owners: none

Update docs to 4552c8c815c99e14e4c4b4326d673e2aee9f5950
  sitemap.xml.gz
Owners: none

Update docs to 4552c8c815c99e14e4c4b4326d673e2aee9f5950
  sitemap.xml.gz
Owners: none

refactor status pages
  portal/src/hoc/withClaimDetail.tsx
  portal/src/pages/applications/status/index.tsx
  portal/src/pages/applications/status/payments.tsx
  portal/tests/pages/applications/status/payments.test.tsx
Owners: none

fix stories
  portal/storybook/stories/pages/applications/status/index.stories.tsx
  portal/storybook/stories/pages/applications/status/payments.stories.tsx
Owners: none

PORTAL-1435: Add dev environment folders (#8034)
  infra/constants/outputs.tf
  infra/pfml-aws/s3.tf
Owners: none

Update docs to 64845234268b1edc0691374ea496e4cd2f2e68ba
  releases/admin-portal/index.html
  releases/api/index.html
  releases/infra/index.html
  releases/portal/index.html
  search/search_index.json
  sitemap.xml.gz
Owners: none

more story fixes
  portal/storybook/stories/pages/applications/status/payments-statuses.stories.tsx
Owners: none

Update docs to 64845234268b1edc0691374ea496e4cd2f2e68ba
  releases/api/index.html
  search/search_index.json
  sitemap.xml.gz
Owners: none

Hardcode comacloud.net hosted zone
  infra/pfml-aws/iam-shared.tf
Owners: none

Update docs to 64845234268b1edc0691374ea496e4cd2f2e68ba
  sitemap.xml.gz
Owners: none

Update docs to 64845234268b1edc0691374ea496e4cd2f2e68ba
  sitemap.xml.gz
Owners: none

exclude absence cases prefixed with H- from outbound reports
  api/massgov/pfml/reductions/common.py
  api/tests/reductions/test_common.py
Owners: none

fixup! API-2623: first attempt with threadpool executor
  api/massgov/pfml/services/applications/application_submit.py
  api/tests/services/applications/test_application_submit.py
Owners: none

Update to check for more leave request decision types
  api/massgov/pfml/api/services/applications.py
Owners: none

PORTAL-2057: High level service for application import orchestration (#8035)
  api/massgov/pfml/api/applications.py
  api/massgov/pfml/api/services/application_import.py
  api/massgov/pfml/api/services/applications.py
  api/tests/api/services/test_application_import.py
  api/tests/api/services/test_applications.py
Owners: none

fixup! API-2623: first attempt with threadpool executor
  api/tests/services/applications/test_application_submit.py
Owners: none

Update docs to 241964d0218aea820e210e0e6a897c946e647b46
  releases/admin-portal/index.html
  releases/api/index.html
  releases/portal/index.html
  search/search_index.json
  sitemap.xml.gz
Owners: none

add CRM to LST
  e2e/src/artillery/cloud.crm.yml
  e2e/src/commands/deploy-LST.ts
Owners: @EOLWD/pfml-e2e

Re-implement changes
  api/massgov/pfml/api/services/application_import.py
  api/tests/api/services/test_application_import.py
Owners: none

fixup! API-2623: first attempt with threadpool executor
  api/tests/services/applications/test_application_submit.py
Owners: none

PORTAL-2077: remove extra route (#8036)
  portal/src/flows/employer.ts
Owners: none

rename business_net_amount to gross_amount
  api/massgov/pfml/api/models/payments/responses.py
  api/massgov/pfml/api/services/payments.py
  api/openapi.yaml
Owners: none

Update docs to 139bb0dfde7ffa0a6d9505a3865a3bc50f28e78e
  releases/admin-portal/index.html
  releases/api/index.html
  releases/portal/index.html
  search/search_index.json
  sitemap.xml.gz
Owners: none

Log enum or type value for response validation errors
  api/massgov/pfml/api/validation/validators.py
Owners: none

.github/CODEOWNERS:

# Automatically assign codeowners when changed files match
#
# - Each line is a file pattern followed by one or more owners.
# - Order is important; the last matching pattern takes the most precedence
#
# See: https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners#example-of-a-codeowners-file
# ProTip: https://help.github.com/en/github/setting-up-and-managing-organizations-and-teams/managing-code-review-assignment-for-your-team

/.github/workflows/ @EOLWD/pfml-infra
/.github/actions/ @EOLWD/pfml-infra
/.github/CODEOWNERS @EOLWD/pfml-infra

/bin/ @EOLWD/pfml-infra @EOLWD/pfml-e2e
/docs/portal/ @EOLWD/pfml-portal
/e2e/ @EOLWD/pfml-e2e
/.github/actions/e2e* @EOLWD/pfml-e2e
/.github/workflows/e2e* @EOLWD/pfml-e2e
/.github/actions/setup-nr-cli/ @EOLWD/pfml-e2e
/infra/portal/ @EOLWD/pfml-portal @EOLWD/pfml-infra
/infra/admin-portal/ @EOLWD/pfml-infra @EOLWD/pfml-admin-portal
/infra/bi/ @EOLWD/pfml-infra @EOLWD/pfml-business-intel
/pdf_api/ @EOLWD/pfml-pdf-api 

/api/**/delegated_payments/ @EOLWD/pfml-payments
/api/**/irs_1099/ @EOLWD/pfml-pdf-api
